<a href="https://colab.research.google.com/github/KevinTheRainmaker/MovieRecSys/blob/main/MovieRecSys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')
root_path = 'gdrive/My Drive/data/TMDB_5000/'

Mounted at /content/gdrive

## Dataset

TMDB 5000 Datasets from Kaggle

In [90]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

movies = pd.read_csv(os.path.join(root_path, 'tmdb_5000_movies.csv'))
credits = pd.read_csv(os.path.join(root_path, 'tmdb_5000_credits.csv'))

In [91]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {""id"": 878, ""name"": ""Science Fiction""}]",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""space war""}, {""id"": 3388, ""name"": ""space colony""}, {""id"": 3679, ""name"": ""society""}, {""id"": 3801, ""name"": ""space travel""}, {""id"": 9685, ""name"": ""futuristic""}, {""id"": 9840, ""name"": ""romance""}, {""id"": 9882, ""name"": ""space""}, {""id"": 9951, ""name"": ""alien""}, {""id"": 10148, ""name"": ""tribe""}, {""id"": 10158, ""name"": ""alien planet""}, {""id"": 10987, ""name"": ""cgi""}, {""id"": 11399, ""name"": ""marine""}, {""id"": 13065, ""name"": ""soldier""}, {""id"": 14643, ""name"": ""battle""}, {""id"": 14720, ""name"": ""love affair""}, {""id"": 165431, ""name"": ""anti war""}, {""id"": 193554, ""name"": ""power relations""}, {""id"": 206690, ""name"": ""mind and soul""}, {""id"": 209714, ""name"": ""3d""}]",en,Avatar,"In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289}, {""name"": ""Twentieth Century Fox Film Corporation"", ""id"": 306}, {""name"": ""Dune Entertainment"", ""id"": 444}, {""name"": ""Lightstorm Entertainment"", ""id"": 574}]","[{""iso_3166_1"": ""US"", ""name"": ""United States of America""}, {""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""}]",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [92]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""credit_id"": ""5602a8a7c3a3685532001c9a"", ""gender"": 2, ""id"": 65731, ""name"": ""Sam Worthington"", ""order"": 0}, {""cast_id"": 3, ""character"": ""Neytiri"", ""credit_id"": ""52fe48009251416c750ac9cb"", ""gender"": 1, ""id"": 8691, ""name"": ""Zoe Saldana"", ""order"": 1}, {""cast_id"": 25, ""character"": ""Dr. Grace Augustine"", ""credit_id"": ""52fe48009251416c750aca39"", ""gender"": 1, ""id"": 10205, ""name"": ""Sigourney Weaver"", ""order"": 2}, {""cast_id"": 4, ""character"": ""Col. Quaritch"", ""credit_id"": ""52fe48009251416c750ac9cf"", ""gender"": 2, ""id"": 32747, ""name"": ""Stephen Lang"", ""order"": 3}, {""cast_id"": 5, ""character"": ""Trudy Chacon"", ""credit_id"": ""52fe48009251416c750ac9d3"", ""gender"": 1, ""id"": 17647, ""name"": ""Michelle Rodriguez"", ""order"": 4}, {""cast_id"": 8, ""character"": ""Selfridge"", ""credit_id"": ""52fe48009251416c750ac9e1"", ""gender"": 2, ""id"": 1771, ""name"": ""Giovanni Ribisi"", ""order"": 5}, {""cast_id"": 7, ""character"": ""Norm Spellman"", ""credit_id"": ""52fe48009251416c750ac9dd"", ""gender...","[{""credit_id"": ""52fe48009251416c750aca23"", ""department"": ""Editing"", ""gender"": 0, ""id"": 1721, ""job"": ""Editor"", ""name"": ""Stephen E. Rivkin""}, {""credit_id"": ""539c47ecc3a36810e3001f87"", ""department"": ""Art"", ""gender"": 2, ""id"": 496, ""job"": ""Production Design"", ""name"": ""Rick Carter""}, {""credit_id"": ""54491c89c3a3680fb4001cf7"", ""department"": ""Sound"", ""gender"": 0, ""id"": 900, ""job"": ""Sound Designer"", ""name"": ""Christopher Boyes""}, {""credit_id"": ""54491cb70e0a267480001bd0"", ""department"": ""Sound"", ""gender"": 0, ""id"": 900, ""job"": ""Supervising Sound Editor"", ""name"": ""Christopher Boyes""}, {""credit_id"": ""539c4a4cc3a36810c9002101"", ""department"": ""Production"", ""gender"": 1, ""id"": 1262, ""job"": ""Casting"", ""name"": ""Mali Finn""}, {""credit_id"": ""5544ee3b925141499f0008fc"", ""department"": ""Sound"", ""gender"": 2, ""id"": 1729, ""job"": ""Original Music Composer"", ""name"": ""James Horner""}, {""credit_id"": ""52fe48009251416c750ac9c3"", ""department"": ""Directing"", ""gender"": 2, ""id"": 2710, ""job"": ""Director"", ""name"": ""James Cameron..."

### Combine datasets

In [93]:
credits.rename(columns = {'movie_id' : 'id'}, inplace = True)

In [96]:
df = movies.merge(credits, on=['title', 'id'])
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew'],
      dtype='object')

### Simple EDA

In [97]:
df.shape

(4803, 22)

In [98]:
df['original_language'].value_counts()

en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ru      11
ko      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  cast                  4803 non-null   object
 21  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(15)
memory usage: 863.0+ KB

In [100]:
df.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                       0
crew                       0
dtype: int64

In [101]:
df.duplicated().sum()

0

### Extract some features
- id
- title
- overview
- genres
- keywords
- cast
- crew
- popularity
- vote average
- vote count

In [117]:
extract = df[['id','title','overview','genres','keywords','cast','crew', 'popularity','vote_average','vote_count']].copy()

# drop missing values (overview)
extract.dropna(inplace=True)

In [118]:
pd.set_option('max_colwidth', 100)
extract[['genres','keywords']].sample()

,genres,keywords
3256,"[{""id"": 35, ""name"": ""Comedy""}]","[{""id"": 1360, ""name"": ""minnesota""}, {""id"": 1415, ""name"": ""small town""}, {""id"": 3681, ""name"": ""ec..."

In [119]:
extract.shape

(4800, 10)

In [120]:
extract.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 0 to 4802
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4800 non-null   int64
 1   title         4800 non-null   object
 2   overview      4800 non-null   object
 3   genres        4800 non-null   object
 4   keywords      4800 non-null   object
 5   cast          4800 non-null   object
 6   crew          4800 non-null   object
 7   popularity    4800 non-null   float64
 8   vote_average  4800 non-null   float64
 9   vote_count    4800 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 412.5+ KB

### Data Preprocessing

In [121]:
type(extract['genres'][0])

str

In [122]:
# genres, keywords: str to list 
from ast import literal_eval
extract['genres'] = extract['genres'].apply(literal_eval)
extract['keywords'] = extract['keywords'].apply(literal_eval)

In [123]:
type(extract['genres'][0])

list

In [124]:
extract['genres'][0]

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [125]:
# extract value only from 'name' key in dictionary
extract['genres'] = extract['genres'].apply(lambda x : [y['name'] for y in x])
extract['genres'] = extract['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
extract['keywords'] = extract['keywords'].apply(lambda x : [y['name'] for y in x])
extract['keywords'] = extract['keywords'].apply(lambda x:[i.replace(" ", "-") for i in x])

In [126]:
extract['genres'][0]

['Action', 'Adventure', 'Fantasy', 'ScienceFiction']

In [127]:
extract['keywords'][0]

['culture-clash',
 'future',
 'space-war',
 'space-colony',
 'society',
 'space-travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien-planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love-affair',
 'anti-war',
 'power-relations',
 'mind-and-soul',
 '3d']

In [128]:
type(extract['genres'][0])

list

In [169]:
pd.set_option('max_colwidth', 100)
extract[['genres','keywords']].sample()

,genres,keywords
1495,"[Drama, Fantasy, Romance, ScienceFiction]","[brain-tumor, telekinesis, genius, terminal-illness, doctor, psionic-power]"

In [170]:
# cast
extract[['cast']].head(1)

                                                                                                  cast
0  [{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": ...

In [171]:
def convert_cast(obj):
  L = []
  counter = 0
  for i in literal_eval(obj):
    if counter != 3: # max: 3
      L.append(i['name'])
      counter+=1
    else:
      break
  return L

In [172]:
extract['cast'] = extract['cast'].apply(convert_cast)
extract['cast'] = extract['cast'].apply(lambda x:[i.replace(" ", "") for i in x])

In [173]:
extract[['cast']].sample()

                                                  cast
3489  [JuliaStiles, StockardChanning, FrederickWeller]

In [174]:
# crew
def fetch_director(obj):
  L = []
  for i in literal_eval(obj):
    if i['job']=='Director':
      L.append(i['name'])
      break
  return L

In [175]:
# crew to director
extract['crew'] = extract['crew'].apply(fetch_director)
extract.rename(columns = {'crew' : 'director'}, inplace = True)
extract['director'] = extract['director'].apply(lambda x:[i.replace(" ", "") for i in x])

In [176]:
extract[['director']].head(1)

         director
0  [JamesCameron]

In [177]:
# overview
# extract['overview'] = extract['overview'].apply(lambda x: x.lower().split())

In [178]:
extract.columns

Index(['id', 'title', 'overview', 'genres', 'keywords', 'cast', 'director',
       'popularity', 'vote_average', 'vote_count'],
      dtype='object')

In [179]:
extract['tags'] = extract['genres'] + extract['cast'] + extract['director']
movies_df = extract#[['id','title','overview','tags']]

In [180]:
movies_df.sample()

,id,title,overview,genres,keywords,cast,director,popularity,vote_average,vote_count,tags
558,35,The Simpsons Movie,"After Homer accidentally pollutes the town's water supply, Springfield is encased in a gigantic ...","[Animation, Comedy, Family]","[father-son-relationship, lake, springfield, the-simpsons, duff-beer, garbage, pig, pollution, e...","[DanCastellaneta, JulieKavner, NancyCartwright]",[DavidSilverman],46.875375,6.9,2264,"[Animation, Comedy, Family, DanCastellaneta, JulieKavner, NancyCartwright, DavidSilverman]"

In [181]:
movies_df.shape

(4800, 11)

## Measure Content Simillarity

In [183]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [184]:
# genres
movies_df['genres_literal'] = movies_df['genres'].apply(lambda x: (' ').join(x)) 

count_vect = CountVectorizer(min_df=0, ngram_range=(1,1)) 
'''
max_df / min_df: 
     ,   max_df     
  min_df     . 
      ,    

ngram_range: 
  (min_n, max_n), BoW     n-gram  .
     , min_n max_n   .
'''
genre_mat = count_vect.fit_transform(movies_df['genres_literal']) # csr_matrix: CSR   
genre_mat.shape

(4800, 20)

In [185]:
genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim)

(4800, 4800)
[[1.         0.8660254  0.57735027 ... 0.         0.         0.        ]
 [0.8660254  1.         0.66666667 ... 0.         0.         0.        ]
 [0.57735027 0.66666667 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [186]:
genre_sim[1]

array([0.8660254 , 1.        , 0.66666667, ..., 0.        , 0.        ,
       0.        ])

In [187]:
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_ind[:1])

[[   0 3493   46 ... 3037 3036 2399]]

In [188]:
# keywords
movies_df['keywords_literal'] = movies_df['keywords'].apply(lambda x: (' ').join(x)) 

count_vect = CountVectorizer(min_df=0, ngram_range=(1,1)) 

keyword_mat = count_vect.fit_transform(movies_df['keywords_literal'])
keyword_mat.shape

(4800, 7159)

In [189]:
keyword_sim = cosine_similarity(keyword_mat, keyword_mat)
print(keyword_sim.shape)
print(keyword_sim)

(4800, 4800)
[[1.         0.029173   0.         ... 0.04612656 0.         0.        ]
 [0.029173   1.         0.         ... 0.06324555 0.         0.        ]
 [0.         0.         1.         ... 0.         0.         0.        ]
 ...
 [0.04612656 0.06324555 0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

keyword

In [190]:
keyword_sim_sorted_ind = keyword_sim.argsort()[:, ::-1]
print(keyword_sim_sorted_ind[:1])

[[   0 2403  278 ... 3069 3068 2399]]

In [191]:
# cast
movies_df['cast_literal'] = movies_df['cast'].apply(lambda x: (' ').join(x)) 
count_vect = CountVectorizer(min_df=10, ngram_range=(1,1)) # 10    
cast_mat = count_vect.fit_transform(movies_df['cast_literal'])
print(cast_mat.shape)
cast_sim = cosine_similarity(cast_mat, cast_mat)

(4800, 284)

cast

In [192]:
cast_sim_sorted_ind = cast_sim.argsort()[:, ::-1]
print(cast_sim_sorted_ind[:1])

[[   0 2153 3157 ... 3203 3204 2399]]

In [193]:
# director
movies_df['director_literal'] = movies_df['director'].apply(lambda x: (' ').join(x)) 
count_vect = CountVectorizer(min_df=5, ngram_range=(1,1)) # 5    
director_mat = count_vect.fit_transform(movies_df['director_literal'])
print(director_mat.shape)
director_sim = cosine_similarity(director_mat, director_mat)

print(director_sim.shape)
print(director_sim)

(4800, 221)
(4800, 4800)
[[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

director

In [194]:
director_sim_sorted_ind = director_sim.argsort()[:, ::-1]
print(director_sim_sorted_ind[:1])

[[   0   25  279 ... 3201 3202 2399]]

**,       .**

In [195]:
new_df = movies_df[['id','title','genres_literal','popularity','vote_average','vote_count']]

## Recommendation using Genre Contents Filtering

In [196]:
new_df[new_df['title'] == 'Batman Begins']

,id,title,genres_literal,popularity,vote_average,vote_count
119,272,Batman Begins,Action Crime Drama,115.040024,7.5,7359

In [197]:
new_df[new_df['title'] == 'Batman Begins'].index.values # index number

array([119])

### Weighted vote

$Weighted\ Rating = {v\over {v+m}}\times r + {m\over {v+m}}\times c$

- $v$:      = vote_count

- $m$:       ( .     )

- $r$:      = vote_average

- $c$:      = movies_df['vote_average'].mean()

In [198]:
m = movies_df['vote_count'].quantile(0.6) # m:  60%
c = movies_df['vote_average'].mean()
print('c:', round(c,3), '\nm:', round(m,3))

c: 6.093
m: 371.0

In [201]:
percentile = 0.6

c = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(percentile)

def weighted_vote_average(record):
    v = record['vote_count']
    r = record['vote_average']
    return ((v/(v+m)) * r) + ((m/(v+m)) * c) # weighted rating

movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)

In [203]:
def recommend(movie):
  similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, movie, 10)
  return similar_movies[['title','overview','genres','popularity','weighted_vote']]

In [204]:
def find_sim_movie(df, sorted_ind, title_name, top_n = 10):
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    
    #top_n 2     
    similar_indexes = sorted_ind[title_index, :(top_n * 2)]
    similar_indexes = similar_indexes.reshape(-1)
    
    #   
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    #top_n 2   weighted_vote   top_n 
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

In [205]:
# Recommend
recommend('Avatar')

,title,overview,genres,popularity,weighted_vote
46,X-Men: Days of Future Past,The ultimate X-Men ensemble fights a war for the survival of the species across two time periods...,"[Action, Adventure, Fantasy, ScienceFiction]",118.078691,7.418471
322,The Fifth Element,"In 2257, a taxi driver is unintentionally given the task of saving a young girl who is part of t...","[Adventure, Fantasy, Action, Thriller, ScienceFiction]",109.528572,7.194777
813,Superman,"Mild-mannered Clark Kent works as a reporter at the Daily Planet alongside his crush, Lois Lane ...","[Action, Adventure, Fantasy, ScienceFiction]",48.507081,6.685048
14,Man of Steel,"A young boy learns that he has extraordinary powers and is not of this earth. As a young man, he...","[Action, Adventure, Fantasy, ScienceFiction]",99.398009,6.477559
870,Superman II,"Three escaped criminals from the planet Krypton test the Man of Steel's mettle. Led by Gen. Zod,...","[Action, Adventure, Fantasy, ScienceFiction]",30.515175,6.348972
232,The Wolverine,"Wolverine faces his ultimate nemesis - and tests of his physical, emotional, and mortal limits -...","[Action, ScienceFiction, Adventure, Fantasy]",15.953444,6.282634
3208,Star Wars: Clone Wars: Volume 1,"The Saga continues with the Emmy-winning ""Star Wars: Clone Wars."" This animated micro-series, di...","[Action, Adventure, Animation, Fantasy, ScienceFiction]",1.881466,6.222292
1390,Underworld: Rise of the Lycans,"A prequel to the first two Underworld films, this fantasy explains the origins of the feud betwe...","[Fantasy, Action, Adventure, ScienceFiction, Thriller]",51.927471,6.177917
1191,Small Soldiers,"When missile technology is used to enhance toy action figures, the toys soon begin to take their...","[Comedy, Adventure, Fantasy, ScienceFiction, Action]",23.088571,6.154957
1932,Sheena,Sheena's white parents are killed while on Safari. She is raised by the mystical witch woman of ...,"[Action, Adventure, Comedy, Fantasy, ScienceFiction]",4.020194,6.031736

In [213]:
recommended_list = list(recommend('Avatar').title.values)

for i in recommended_list:
  print(i)

X-Men: Days of Future Past
The Fifth Element
Superman
Man of Steel
Superman II
The Wolverine
Star Wars: Clone Wars: Volume 1
Underworld: Rise of the Lycans
Small Soldiers
Sheena

## Fronend/Streamlit

In [220]:
# dump pickle to use in streamlit
import pickle
pickle.dump(movies_df.to_dict(), open('movies_dict.pkl', 'wb'))