<a href="https://colab.research.google.com/github/KevinTheRainmaker/MovieRecSys/blob/main/MovieRecSys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')
root_path = 'gdrive/My Drive/data/TMDB_5000/'

Mounted at /content/gdrive

## Dataset

TMDB 5000 Datasets from Kaggle

In [2]:
import os
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

movies = pd.read_csv(os.path.join(root_path, 'tmdb_5000_movies.csv'))
credits = pd.read_csv(os.path.join(root_path, 'tmdb_5000_credits.csv'))

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

### Combine datasets

In [5]:
credits.rename(columns = {'movie_id' : 'id'}, inplace = True)

In [6]:
df = movies.merge(credits, on=['title', 'id'])
df.sample()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
3053,6000000,"[{""id"": 35, ""name"": ""Comedy""}]",NaN,87818,"[{""id"": 9253, ""name"": ""slapstick""}, {""id"": 159...",en,Movie 43,The film is composed of multiple comedy shorts...,35.350303,"[{""name"": ""Greenestreet Films"", ""id"": 2150}, {...",...,32438988,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The biggest cast ever assembled for the most o...,Movie 43,4.4,797,"[{""cast_id"": 18, ""character"": ""Vanessa (segmen...","[{""credit_id"": ""52fe49d89251416c910bab3b"", ""de..."

### Simple EDA

In [7]:
df.shape

(4803, 22)

In [8]:
df['original_language'].value_counts()

en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ru      11
ko      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  cast                  4803 non-null   object
 21  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(15)
memory usage: 863.0+ KB

In [10]:
df.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                       0
crew                       0
dtype: int64

In [11]:
df.duplicated().sum()

0

### Extract some features
- id
- title
- overview
- genres
- keywords
- cast
- crew
- popularity
- vote average
- vote count

In [12]:
extract = df[['id','title','overview','genres','keywords','cast','crew', 'popularity','vote_average','vote_count']].copy()

# drop missing values (overview)
extract.dropna(inplace=True)

In [13]:
pd.set_option('max_colwidth', 100)
extract[['genres','keywords']].sample()

,genres,keywords
2592,"[{""id"": 28, ""name"": ""Action""}, {""id"": 14, ""name"": ""Fantasy""}, {""id"": 878, ""name"": ""Science Ficti...","[{""id"": 1014, ""name"": ""loss of lover""}, {""id"": 3095, ""name"": ""antiquary""}, {""id"": 3861, ""name"": ..."

In [14]:
extract.shape

(4800, 10)

In [15]:
extract.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 0 to 4802
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4800 non-null   int64
 1   title         4800 non-null   object
 2   overview      4800 non-null   object
 3   genres        4800 non-null   object
 4   keywords      4800 non-null   object
 5   cast          4800 non-null   object
 6   crew          4800 non-null   object
 7   popularity    4800 non-null   float64
 8   vote_average  4800 non-null   float64
 9   vote_count    4800 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 412.5+ KB

### Data Preprocessing

In [16]:
type(extract['genres'][0])

str

In [17]:
# genres, keywords: str to list 
from ast import literal_eval
extract['genres'] = extract['genres'].apply(literal_eval)
extract['keywords'] = extract['keywords'].apply(literal_eval)

In [18]:
type(extract['genres'][0])

list

In [19]:
extract['genres'][0]

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [20]:
# extract value only from 'name' key in dictionary
extract['genres'] = extract['genres'].apply(lambda x : [y['name'] for y in x])
extract['genres'] = extract['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
extract['keywords'] = extract['keywords'].apply(lambda x : [y['name'] for y in x])
extract['keywords'] = extract['keywords'].apply(lambda x:[i.replace(" ", "-") for i in x])

In [21]:
extract['genres'][0]

['Action', 'Adventure', 'Fantasy', 'ScienceFiction']

In [22]:
extract['keywords'][0]

['culture-clash',
 'future',
 'space-war',
 'space-colony',
 'society',
 'space-travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien-planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love-affair',
 'anti-war',
 'power-relations',
 'mind-and-soul',
 '3d']

In [23]:
type(extract['genres'][0])

list

In [24]:
# extract['genres'] = extract['genres'].apply(lambda x:[i.lower().replace(" ", "_") for i in x]) # ex: Science Fiction to science_fiction
# extract['keywords'] = extract['keywords'].apply(lambda x:[i.replace(" ", "_") for i in x]) # ex: space war to space_war

In [25]:
extract[['genres','keywords']].sample()

,genres,keywords
670,"[Drama, Romance]","[infidelity, politician, airplane-crash, death, death-of-husband, police-sergeant, death-of-wife]"

In [26]:
# cast
pd.set_option('max_colwidth', 1000)
extract[['cast']].head(1)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      cast
0  [{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender...

In [27]:
def convert_cast(obj):
  L = []
  counter = 0
  for i in literal_eval(obj):
    if counter != 3: # max: 3
      L.append(i['name'])
      counter+=1
    else:
      break
  return L

In [28]:
extract['cast'] = extract['cast'].apply(convert_cast)
extract['cast'] = extract['cast'].apply(lambda x:[i.replace(" ", "") for i in x])

In [29]:
extract[['cast']].sample()

                                                          cast
4790  [NargessMamizadeh, MaryiamPalvinAlmani, MojganFaramarzi]

In [30]:
# crew
def fetch_director(obj):
  L = []
  for i in literal_eval(obj):
    if i['job']=='Director':
      L.append(i['name'])
      break
  return L

In [31]:
# crew to director
extract['crew'] = extract['crew'].apply(fetch_director)
extract.rename(columns = {'crew' : 'director'}, inplace = True)
extract['director'] = extract['director'].apply(lambda x:[i.replace(" ", "") for i in x])

In [32]:
extract[['director']].head(1)

         director
0  [JamesCameron]

In [33]:
# overview
# extract['overview'] = extract['overview'].apply(lambda x: x.lower().split())

In [34]:
# extract.sample()

In [35]:
extract.columns

Index(['id', 'title', 'overview', 'genres', 'keywords', 'cast', 'director',
       'popularity', 'vote_average', 'vote_count'],
      dtype='object')

In [36]:
extract['tags'] = extract['genres'] + extract['cast'] + extract['director']
movies_df = extract#[['id','title','overview','tags']]

In [37]:
movies_df.sample()

,id,title,overview,genres,keywords,cast,director,popularity,vote_average,vote_count,tags
3654,11600,Redacted,Redacted is a film written and directed by Brian De Palma that is a fictional drama loosely based on the Mahmudiyah killings in Iraq.,"[Drama, War]","[iraq, iraq-war]","[IzzyDiaz, RobDevaney, TyJones]",[BrianDePalma],3.792015,6.2,37,"[Drama, War, IzzyDiaz, RobDevaney, TyJones, BrianDePalma]"

In [38]:
movies_df.shape

(4800, 11)

In [39]:
movies_df['keywords'][0]

['culture-clash',
 'future',
 'space-war',
 'space-colony',
 'society',
 'space-travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien-planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love-affair',
 'anti-war',
 'power-relations',
 'mind-and-soul',
 '3d']

## Measure Content Simillarity

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [41]:
# genres
movies_df['genres_literal'] = movies_df['genres'].apply(lambda x: (' ').join(x)) 

count_vect = CountVectorizer(min_df=0, ngram_range=(1,1)) 
'''
max_df / min_df: 
  í† í°ì´ ë‚˜íƒ€ë‚œ íšŸìˆ˜ë¥¼ ê¸°ì¤€ìœ¼ë¡œ, í† í°ì˜ ë¹ˆë„ê°€ max_dfë¡œ ì§€ì •í•œ ê°’ì„ ì´ˆê³¼ í•˜ê±°ë‚˜ 
  min_dfë¡œ ì§€ì •í•œ ê°’ë³´ë‹¤ ìž‘ì€ ê²½ìš°ì—ëŠ” ë¬´ì‹œí•œë‹¤. 
  ì¸ìˆ˜ ê°’ì€ ì •ìˆ˜ì¸ ê²½ìš° íšŸìˆ˜, ë¶€ë™ì†Œìˆ˜ì ì¸ ê²½ìš° ë¹„ì¤‘ì„ ëœ»í•œë‹¤

ngram_range: 
  (min_n, max_n)ìœ¼ë¡œ, BoW ìƒì„±ì— ì‚¬ìš©í•  í† í°ì˜ í¬ê¸°ì¸ n-gramì˜ ë²”ìœ„ë¥¼ ê²°ì •.
  ì—¬ê¸°ì„œëŠ” ìž¥ë¥´ì˜ ê³µë°±ì„ ì œê±°í–ˆìœ¼ë¯€ë¡œ, min_nê³¼ max_nì„ ëª¨ë‘ ëª¨ë…¸ê·¸ëž¨ìœ¼ë¡œ í•œë‹¤.
'''
genre_mat = count_vect.fit_transform(movies_df['genres_literal']) # csr_matrix: CSR í˜•ì‹ í¬ì†Œ í–‰ë ¬
genre_mat.shape

(4800, 20)

In [42]:
genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim)

(4800, 4800)
[[1.         0.8660254  0.57735027 ... 0.         0.         0.        ]
 [0.8660254  1.         0.66666667 ... 0.         0.         0.        ]
 [0.57735027 0.66666667 1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [53]:
genre_sim[1]

array([0.8660254 , 1.        , 0.66666667, ..., 0.        , 0.        ,
       0.        ])

In [43]:
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
print(genre_sim_sorted_ind[:1])

[[   0 3493   46 ... 3037 3036 2399]]

In [44]:
# keywords
movies_df['keywords_literal'] = movies_df['keywords'].apply(lambda x: (' ').join(x)) 

count_vect = CountVectorizer(min_df=0, ngram_range=(1,1)) 

keyword_mat = count_vect.fit_transform(movies_df['keywords_literal'])
keyword_mat.shape

(4800, 7159)

In [45]:
keyword_sim = cosine_similarity(keyword_mat, keyword_mat)
print(keyword_sim.shape)
print(keyword_sim)

(4800, 4800)
[[1.         0.029173   0.         ... 0.04612656 0.         0.        ]
 [0.029173   1.         0.         ... 0.06324555 0.         0.        ]
 [0.         0.         1.         ... 0.         0.         0.        ]
 ...
 [0.04612656 0.06324555 0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

keywordëŠ” ì¶”ì²œì— í° ì˜ë¯¸ê°€ ì—†ëŠ” ë“¯ í•˜ë‹¤

In [46]:
keyword_sim_sorted_ind = keyword_sim.argsort()[:, ::-1]
print(keyword_sim_sorted_ind[:1])

[[   0 2403  278 ... 3069 3068 2399]]

In [47]:
# cast
movies_df['cast_literal'] = movies_df['cast'].apply(lambda x: (' ').join(x)) 
count_vect = CountVectorizer(min_df=10, ngram_range=(1,1)) # 10ê°œ ì´ìƒì˜ ìž‘í’ˆì— ë‚˜ì˜¨ ë°°ìš°
cast_mat = count_vect.fit_transform(movies_df['cast_literal'])
print(cast_mat.shape)
cast_sim = cosine_similarity(cast_mat, cast_mat)

(4800, 284)

cast ë˜í•œ ì¶”ì²œì— ìžˆì–´ í° ì˜ë¯¸ë¥¼ ë³´ì´ì§€ ì•ŠëŠ”ë‹¤

In [49]:
cast_sim_sorted_ind = cast_sim.argsort()[:, ::-1]
print(cast_sim_sorted_ind[:1])

[[   0 2153 3157 ... 3203 3204 2399]]

In [50]:
# director
movies_df['director_literal'] = movies_df['director'].apply(lambda x: (' ').join(x)) 
count_vect = CountVectorizer(min_df=5, ngram_range=(1,1)) # 5ê°œ ì´ìƒ ìž‘í’ˆì„ ë§Œë“  ê°ë…
director_mat = count_vect.fit_transform(movies_df['director_literal'])
print(director_mat.shape)
director_sim = cosine_similarity(director_mat, director_mat)

print(director_sim.shape)
print(director_sim)

(4800, 221)
(4800, 4800)
[[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

directorë„ ë§ˆì°¬ê°€ì§€

In [51]:
director_sim_sorted_ind = director_sim.argsort()[:, ::-1]
print(director_sim_sorted_ind[:1])

[[   0   25  279 ... 3201 3202 2399]]

**ê²°ë¡ ì ìœ¼ë¡œ, ìž¥ë¥´ë¥¼ ì œì™¸í•˜ë©´ ìœ ì˜ë¯¸í•œ ìœ ì‚¬ë„ íŒë‹¨ ê¸°ì¤€ì´ ì—†ë‹¤.**

In [78]:
new_df = movies_df[['id','title','genres_literal','popularity','vote_average','vote_count']]

## Recommendation using Genre Contents Filtering

In [79]:
new_df[new_df['title'] == 'Batman Begins']

,id,title,genres_literal,popularity,vote_average,vote_count
119,272,Batman Begins,Action Crime Drama,115.040024,7.5,7359

In [80]:
new_df[new_df['title'] == 'Batman Begins'].index.values # index number

array([119])

### Weighted vote

$Weighted\ Rating = {v\over {v+m}}\times r + {m\over {v+m}}\times c$

- $v$: ê°œë³„ ì˜í™”ì— í‰ì ì„ íˆ¬í‘œí•œ íšŸìˆ˜ = vote_count

- $m$: í‰ì ì„ ë¶€ì—¬í•˜ê¸° ìœ„í•œ ìµœì†Œ íˆ¬í‘œ íšŸìˆ˜ (ì¡°ì ˆ ê°€ëŠ¥. ë†’ì„ìˆ˜ë¡ íˆ¬í‘œìˆ˜ê°€ ë§Žì€ ì˜í™”ë¥¼ ìš°ì„ ì‹œ)

- $r$: ê°œë³„ ì˜í™”ì— ëŒ€í•œ í‰ê·  í‰ì  = vote_average

- $c$: ì „ì²´ ì˜í™”ì— ëŒ€í•œ í‰ê·  í‰ì  = movies_df['vote_average'].mean()

In [83]:
m = movies_df['vote_count'].quantile(0.6) # m: ìƒìœ„ 60%
c = movies_df['vote_average'].mean()
print('c:', round(c,3), '\nm:', round(m,3))

c: 6.093
m: 371.0

In [84]:
percentile = 0.6

c = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(percentile)

def weighted_vote_average(record):
    v = record['vote_count']
    r = record['vote_average']
    return ((v/(v+m)) * r) + ((m/(v+m)) * c) # weighted rating

movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)

In [85]:
def recommend(movie):
  movie_index = movies_df[movies_df['title'] == movie].index[0]
  similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, movie, 10)
  return similar_movies[['title','genres','popularity','weighted_vote']]

In [87]:
def find_sim_movie(df, sorted_ind, title_name, top_n = 10):
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    
    #top_nì˜ 2ë°°ì— í•´ë‹¹í•˜ëŠ” ìœ ì‚¬ ìž¥ë¥´ ì¸ë±ìŠ¤ ì¶”ì¶œ
    similar_indexes = sorted_ind[title_index, :(top_n * 2)]
    similar_indexes = similar_indexes.reshape(-1)
    
    #ê¸°ì¤€ ì˜í™” ì¸ë±ìŠ¤ëŠ” ì œì™¸
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    #top_nì˜ 2ë°°ì— í•´ë‹¹í•˜ëŠ” í›„ë³´êµ°ì—ì„œ weighted_voteê°€ ë†’ì€ ìˆœìœ¼ë¡œ top_në§Œí¼ ì¶”ì¶œ
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

In [89]:
# Recommend
recommend('Avatar')

,title,genres,popularity,weighted_vote
46,X-Men: Days of Future Past,"[Action, Adventure, Fantasy, ScienceFiction]",118.078691,7.418471
322,The Fifth Element,"[Adventure, Fantasy, Action, Thriller, ScienceFiction]",109.528572,7.194777
813,Superman,"[Action, Adventure, Fantasy, ScienceFiction]",48.507081,6.685048
14,Man of Steel,"[Action, Adventure, Fantasy, ScienceFiction]",99.398009,6.477559
870,Superman II,"[Action, Adventure, Fantasy, ScienceFiction]",30.515175,6.348972
232,The Wolverine,"[Action, ScienceFiction, Adventure, Fantasy]",15.953444,6.282634
3208,Star Wars: Clone Wars: Volume 1,"[Action, Adventure, Animation, Fantasy, ScienceFiction]",1.881466,6.222292
1390,Underworld: Rise of the Lycans,"[Fantasy, Action, Adventure, ScienceFiction, Thriller]",51.927471,6.177917
1191,Small Soldiers,"[Comedy, Adventure, Fantasy, ScienceFiction, Action]",23.088571,6.154957
1932,Sheena,"[Action, Adventure, Comedy, Fantasy, ScienceFiction]",4.020194,6.031736